
//
// @file
// SASS - Element Invisible/Focusable mixins.
//

// Hide elements visually, but keep them available for screen-readers.
//
// Used for information required for screen-reader users to understand and use
// the site where visual display is undesirable. Information provided in this
// manner should be kept concise, to avoid unnecessary burden on the user.
// "!important" is used to prevent unintentional overrides.
//
@mixin element-invisible {

    position: absolute !important;
    overflow: hidden;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

// The "element-focusable" mixin extends the "element-invisible" mixin to
// allow the element to be focusable when navigated to via the keyboard.
//
@mixin element-focusable {

    &:active,
    &:focus {
        position: static !important;
        clip: auto;
        height: auto;
    }
}
#skip-link {
  display: block !important;
  .element-focusable {
    &:active,
    &:focus {
        position: absolute !important;
        padding: 3px 6px;
        margin: 3px;
        top: 0;
        left: 0;
        z-index: 999;
        background: #fff;
    }
  }
}
.element-invisible {
    display: inline-block !important;
    @include element-invisible;
}
// The ".element-focusable" class extends the ".element-invisible" class to
// allow the element to be focusable when navigated to via the keyboard.
//
// @selector .element-focusable
//
.element-focusable {
    @extend .element-invisible;
    @include element-focusable;
}