
//
// @file
// Custom SASS placeholders.
//
// Define the custom placeholders for the project.
//

// =============================================================================
// Layout (Properties) placeholders
// =============================================================================

// Bootstrap "Grid System" - Columns.
//
%bootstrap-grid-columns-defaults {
  position: relative;
  min: {
    height: 1px;
  }
  padding: {
    right: get-half-gutter($grid-gutter-width);
    left: get-half-gutter($grid-gutter-width);
  }
}

// =============================================================================
// Common (Properties) placeholders
// =============================================================================

// Clearfix hack.
//
%clearfix-defaults {
  @include sclearfix;
}

.clearfix {
  @include clearfix;
}

// Pseudo-elements.
//
%pseudo-elements-defaults {
  content: ''; 
  position: absolute;
}

// Container overflows.
//
%overflows-defautls {
  padding: {
    right: em(9999);
    left: em(9999);
  }
  margin: {
    right: em(-9999);
    left: em(-9999);
  }
}

// Container overflow (Right).
//
%overflow-right-defautls {
  padding: {
    right: em(9999);
  }
  margin: {
    right: em(-9999);
  }
}

// Container overflow (Left).
//
%overflow-left-defautls {
  padding: {
    left: em(9999);
  }
  margin: {
    left: em(-9999);
  }
}

// "Grid System" - Columns.
//
%grid-columns-defaults {
  position: relative;
  display: inline;
  float: left;
  min: {
    height: 1px;
  }
}

// Headings h1 to h3.
//
%headings-1-to-3-defaults {
  @include heading(
    false,             // color.
    false,             // font-family.
    false,             // font-size.
    700,               // font-weight.
    false,             // text-transform.
    $base-line-height  // line-height.
  );

  // Responsiveness.
  // Properties for extra-small (Smartphones).
  //
  @include breakpoint(xsmall) {
    line: {
      height: 110%;
    }
  }
}

// Headings h2 and h3.
//
%headings-5-and-6-defaults {
  @include heading(
    false,                     // color.
    false,                     // font-family.
    em($h5-and-h6-font-size),  // font-size.
    400,                       // font-weight.
    false,                     // text-transform.
    $base-line-height          // line-height.
  );
  font: {
    style: italic;
  }
}

// Resets properties for list of items.
//
%list-items-resets-defaults {
  & {
    padding: 0;

    // List items.
    //
    > li {
      list: {
        style: none outside none;
      }
    }
  }
}

// Display (Inline block) properties for list of items.
//
%list-items-display-inline-block-defaults {
  & {
    letter: {
      spacing: -0.24em;
    }

    // List items (Level 1).
    //
    > li {
      display: inline-block;
      margin: {
        left: em(10);
      }
      text: {
        align: center;
      }
      vertical: {
        align: top;
      }
      letter: {
        spacing: normal;
      }

      // List item (First child).
      //
      &:first-child {
        margin: {
          left: 0;
        }
      }

      // Item links.
      //
      a {
        display: block;
      }
    }

    // Nested list of items.
    //
    ul {
      display: none;
    }
  }
}

// Display (Table) properties for list of items.
//
%list-items-display-table-defaults {
  & {
    display: table;

    // List items (Level 1).
    //
    > li {
      display: table-cell;
      padding: {
        top: em(2);
      }
      text: {
        align: center;
      }
      vertical: {
        align: middle;
      }

      // Item links.
      //
      a {
        display: block;
      }
    }

    // Nested list of items.
    //
    ul {
      display: none;
    }
  }
}

// Unordered lists (Tabs).
//
%list-items-tabs-defaults {
  @extend %list-items-resets-defaults;
  @extend %list-items-display-inline-block-defaults;
  border: {
    bottom: {
      width: 1px;
      style: solid;
      @include alpha-color($light-gray);
    }
  }
  line: {
    height: em(40);
  }

  // List items.
  //
  li {
    margin: {
      left: 0;
      bottom: -1px;
    }

    // Item links.
    //
    a {
      @include link-colors($base-text-color);
      @include hover-link(none);
      width: auto;
      min: {
        width: em(120, 14);
      }
      padding: 0 em(15, 14);
      font: {
        size: em(14);
      }
      text: {
        transform: uppercase;
      }

      // Item links (Hover, focus and active states).
      //
      &:hover,
      &:focus,
      &.active {
        border: {
          bottom: {
            width: 3px;
            style: solid;
            @include alpha-color($orange);
          }
        }
      }
    }
  }
}

// Form elements (items).
//
%form-items-defaults {
  @include appearance(none);
  @include border-radius(2px);
  @include alpha-background-color($white);
  width: auto;
  outline: none;
  @include breakpoint(xxsmall) {
    width: 100%;
  }
  font-size: 14px;
  padding: 6px 12px;
  border: {
    width: 1px;
    style: solid;
    @include alpha-color($darker-gray);
  }
  font: {
    weight: 400;
  }

  // Hover and focus states.
  //
  &:hover,
  &:focus {
    border: {
      @include alpha-color($dark-gray);
    }
  }
}

// Checkboxes and radio buttons.
//
%checkboxes-radio-buttons-defaults {
  @include element-invisible;

  // Label that is placed immediately after the checkbox/radio button.
  //
  & + label {
    padding: {
      left: em(36);
    }
    margin: {
      right: 0;
    }
    background: {
      position: 0 50%;
      repeat: no-repeat;
    }
  }
}

// Form elements (actions).
//
%form-actions-defaults {
  @include border-radius(5px);
  @include link-colors($white);
  @include alpha-background-color($orange);
  @include box-shadow(0px 1px 2px 0px rgba(0, 0, 0, 0.1));
  width: auto;
  height: em(44, 14);
  min: {
    width: em(80, 14);
  }
  padding: 0 em(30, 14);
  border: 1px solid $orange;
  font: {
    size: em(14);
    weight: 400;
  }
  text: {
    transform: uppercase;
  }
  line: {
    height: em(36.5, 14);
  }

  // Responsiveness.
  // Properties for extra-small (Smartphones).
  //
  @include breakpoint(xsmall) {
    width: 100%;
    text: {
      align: center;
    }
  }

  // Hover and focus states.
  //
  &:hover,
  &:focus {
    @include box-shadow(0px 3px 5px 0px rgba(0, 0, 0, 0.1));
  }

  // Form elements (actions) that are placed immediately after another.
  //
  & + & {
    margin: {
      left: em(20, 14);
    }

    // Responsiveness.
    // Properties for extra-small (Smartphones).
    //
    @include breakpoint(xsmall) {
      margin: {
        left: 0;
      }
    }
  }
}

// Form elements - Secondary (actions).
//
%form-actions-secondary-defaults {
  @include link-colors($white);
  @include alpha-background-color($orange);
  @include link-background-colors(false, false, $cool-gray);
}

// =============================================================================
// Components (SMACSS Module) placeholders - System
// =============================================================================

// Pager list items and control links (First, previous, next and last).
//
%system-pager-list-items-and-control-links-defaults {
  position: static;
  margin: 0;

  // List items (Before selector).
  //
  &:before {
    content: '';
  }

  // Control links.
  //
  a {
    @include border-radius(2px);
    @include background-image('spacer', $orange);
    width: em(50, 18);
    text: {
      indent: em(-9999, 18);
    }
  }
}

// =============================================================================
// Components (SMACSS Module) placeholders - Views
// =============================================================================

// View more links inside both "Latest News" and "Agenda" blocks (Front page).
//
%views-more-link-position-absolute-defaults {
  position: absolute;
  z-index: 99;
  top: em(-60);
  right: em(20);
}

// =============================================================================
// Components (SMACSS Module) placeholders - Node
// =============================================================================

// Display for "Nodes" rendered as "Default" view mode.
// Content types: Article, Tool, Study, Legislation, Call for projects, Press
// Event, FAQ and News.
//
%node-full-display-defaults {
  @extend %clearfix-defaults;
  @include alpha-background-color($white);
  @include box-shadow(0 0 3px 0 rgba(0, 0, 0, .1));
  margin: {
    right: em(-248);
  }

  // Responsiveness.
  // Properties for both extra-small & small screens (Smartphones & Tablets).
  //
  @include breakpoint(xsmall-small) {
    margin: {
      right: 0;
    }
  }
  // Properties for large screens (Desktops with wide screens).
  //
  @include breakpoint(large) {
    margin: {
      right: em(-300);
    }
  }
}

// Nodes ("Teaser" and "Search result highlighting input" mode).
//
%node-teaser-search-results-defaults {
  @extend %clearfix-defaults;

  // Nodes ("Teaser" and "Search result highlighting input" mode) inside "Views".
  //
  #{$views} & {
    position: relative;
    padding: {
      right: em(20);
      left: em(20);
    }

    // Responsiveness.
    // Properties for extra-small screens (Smartphones).
    //
    @include breakpoint(xsmall) {
      padding: {
        right: em(10);
        left: em(10);
      }
    }
  }
}

// Nodes (Teaser mode) inside "Views" (Theme navigation and Tools)
// on "Page" (Tools) and "Nodes" (Tool).
//
%node-teaser-doormats-tools-defaults {
  height: em(330);
}

// =============================================================================
// Components (SMACSS Module) placeholders - Field
// =============================================================================

// Ordered list of items inside "Text" fields.
//
%field-text-ordered-list-items-defaults {
  padding: {
    left: em(20);
  }
}

// Unordered List of items inside "Text" fields.
//
%field-text-unordered-list-items-defaults {
  padding: {
    left: em(15);
  }

  // List items.
  //
  li {
    @include pseudo-element(before, em(5), em(5)) {
      z-index: 99;
      top: em(10);
      left: em(-15);
      @include alpha-background-color($orange);
    }
    list: {
      style: none outside none;
    }
  }
}

// "Title" field rendered as "Teaser" and "Search result highlighting input".
//
%field-title-teaser-search-results-defaults {
  margin: {
    top: em(18);
    bottom: em(5);
  }
}

// "Title" field rendered as "Teaser" inside "Views" (Theme navigation and Tools)
// on "Page" (Tools) and "Nodes" (Tool).
//
%field-title-teaser-doormats-tools-defaults {
  position: static;
  padding: {
    right: 0;
    left: 0;
  }
  margin: {
    bottom: em(10);
  }
}

// Headings 2 of the "Title" field rendered as "Teaser" and "Search result highlighting input".
//
%field-title-headings-2-teaser-search-results-defaults {
  margin: 0;
  font: {
    size: em(24);
  }
  line: {
    height: 110%;
  }

  // Responsiveness.
  // Properties for extra-small screens (Smartphones).
  //
  @include breakpoint(xsmall) {
    font: {
      size: em(18);
    }
  }
}

// Headings 2 (Inner links) of the "Title" field rendered as "Teaser"
// inside "Views" (Theme navigation and Tools) on "Page" (Tools).
//
%field-title-headings-2-inner-links-teaser-doormats-tools-defaults {
  @include hover-link(hoverline);
}

// "Date" (Unix timestamp) field rendered as "Teaser" and "Search result highlighting input".
//
%field-datestamp-teaser-search-results-defaults {
  @include alpha-color($gray);
  display: inline-block;
  margin: {
    right: em(20, 14);
    bottom: em(10, 14);
  }
  font: {
    size: em(14);
  }
  vertical: {
    align: top;
  }
}

// "Term reference" field rendered as "Teaser" and "Search result highlighting input".
//
%field-taxonomy-term-teaser-search-results-defaults {
  display: inline-block;
  margin: {
    top: 0;
  }
  font: {
    size: em(14);
  }
  vertical: {
    align: top;
  }
}

// Paragraphs of the "Long text (with or without summary)" field
// rendered as "Teaser" and "Search result highlighting input".
//
%field-text-teaser-search-results-defaults {
  margin: {
    top: 0;
    bottom: em(10);
  }
  font: {
    weight: 300;
  }
}

// "Link" field inside "Views" (Theme navigation and Tools)
// on "Page" (Tools) and "Nodes" (Tool).
//
%field-link-doormats-tools-defaults {
  position: absolute;
  z-index: 99;
  bottom: em(35);
  left: 50%;
  padding: {
    left: em(35);
  }
  border: {
    left: {
      width: 1px;
      style: solid;
      @include alpha-color($darker-gray);
    }
  }
}

// Inner links of the "Link" field inside "Views" (Theme navigation and Tools)
// on "Page" (Tools) and "Nodes" (Tool).
//
%field-link-inner-links-doormats-tools-defaults {
  @include pseudo-element(after, em(6, 18), em(9, 18)) {
    z-index: 99;
    top: 50%;
    right: em(-16, 18);
    margin: {
      top: em(-3, 18);
    }
    @include background-image('icons/arrow-gray-6x9');
  }
  @include link-colors($base-text-color);
  font: {
    size: em(18);
    weight: 400;
  }
}

// =============================================================================
// Components (SMACSS Module) placeholders - Colorbox
// =============================================================================

// ColorBox Controls.
//
%colorbox-controls-defaults {
  @include box-shadow(none);
  @include alpha-background-color(transparent);
  top: 20%;
  bottom: 20%;
  min: {
    width: em(150, 14);
  }
  height: auto;
  text: {
    indent: em(-9999, 14);
  }
  background: {
    position: 50% 50%;
    repeat: no-repeat;
  }
}
